#section1 {
  background-color: #1f2937;

  padding-left: 150px;
  padding-right: 150px;
}
#sec1body {
  display: flexbox;
  padding-top: 0x;
  padding-bottom: 100px;
}
#box1 {
  display: flex;
  justify-content: space-evenly;
}
#section2 {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
}
#section3 {
  background-color: #e5e7eb;

  padding-left: 150px;
  padding-right: 150px;
}
#section3 > p {
  display: flex;
  justify-content: center;
}
#section4 {
  padding-left: 150px;
  padding-right: 150px;
}
#section4 > div {
  display: flexbox;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  align-items: left;
  margin: 5px;
  border-color: #3882f6;
  border-width: 2px;
  border-style: solid;
}

header {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
  display: flex;
  padding-bottom: 100px;
}
#nav {
  align-self: flex-end;
  margin-left: auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
}
#nav > a {
  font-size: 18px;
  color: #e5e7eb;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  border: none;
}
#img1 {
  display: flexbox;
  width: 600x;
  height: 300px;
  background-color: grey;
  /* text-align: center; */
}
